.btn-shape {
  width: 105px;
  height: 36px;
}

.nav-item {
  padding: 1px 20px;
  .nav-link {
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    &:hover {
      color: #2dceef;
    }
  }
}

.navbar-home {
  margin-right: auto;
}

.active {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-radius: 40px;
  color: #2dceef;
  .nav-link {
    color: #2dceef;
  }
}

.dot {
  position: relative;
  &::after {
    content: "";
    width: 7px;
    height: 7px;
    background-color: #2dceef;
    border-radius: 4px;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.active.dot {
  &::after {
    left: initial;
    bottom: initial;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.navbar-collapse {
  flex-grow: 0;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .nav-item {
    padding: 0px 16px;
    .nav-link {
      font-size: 16px;
    }
  }
}
