<div class="container-fluid bg-black-color-100 text-white master-layout px-0">
  <div class="home-title text-center py-5 d-block d-sm-none">
    <h1 class="font-weight-bold">Home</h1>
  </div>
  <div class="flow w-100 py-5 d-none d-sm-block">
    <div class="container">
      <div class="flow-top bg-secondary w-100 d-flex justify-content-between align-items-center" style="height: 30px;"></div>
      <div class="flow-content">
        <div class="mt-4 bg-gray-400" style="height: 300px;"></div>
      </div>
    </div>
  </div>
  <div class="recently w-100 py-5">
    <div class="container">
      <div class="recently-top bg-secondary w-100 d-flex justify-content-between align-items-center" style="height: 30px;"></div>
      <div class="recently-content">
        <div class="mt-4 bg-gray-400" style="height: 275px;"></div>
      </div>
    </div>
  </div>
  <div class="browse w-100 py-5">
    <div class="container">
      <div class="browse-top w-100 d-flex justify-content-between align-items-center" style="height: 50px;">
        <div class="browse-title">
          <h5 class="mb-0">Browse</h5>
          <small class="color-gray-100">Explore by genre and mood</small>
        </div>
        <div class="browse-view-all">
          <a routerLink="#" class="text-uppercase text-decoration-none color-gray-300">View all</a>
        </div>
      </div>
      <div class="browse-content">
        <div class="mt-4">
          <app-home-browse></app-home-browse>
        </div>
      </div>
    </div>
  </div>
  <div class="monday w-100 py-5 d-none d-sm-block">
    <div class="container">
      <div class="monday-top bg-secondary w-100 d-flex justify-content-between align-items-center" style="height: 30px;"></div>
      <div class="monday-content">
        <div class="mt-4 bg-gray-400" style="height: 275px;"></div>
      </div>
    </div>
  </div>
  <div class="relax container w-100 py-3">
    <div class="row">
      <div class="col-12 mb-3">
        <div class="relax--title color-white-color-100">Relax</div>
        <div class="relax--subTitle color-white-color-200">Best music for relaxation</div>
      </div>
      <div class="col-12 overflow-auto d-flex align-items-center">
        <app-playlist-cell 
          link="#" 
          image="assets/images/playlistCell/COMPOSERS.svg" 
          title="Russian Composers"
          heart="71,622"></app-playlist-cell>
        <app-playlist-cell 
          link="#" 
          image="assets/images/playlistCell/GUITARSOLOS.svg" 
          title="Guitar Solos"
          heart="299.154"></app-playlist-cell>
        <app-playlist-cell 
          link="#" 
          image="assets/images/playlistCell/WORKOUTrock.svg" 
          title="Workout Rock"
          heart="414,228"></app-playlist-cell>
      </div>
    </div>
  </div>
  <div class="relax container w-100 py-3">
    <div class="row">
      <div class="col-12 mb-3">
        <div class="relax--title color-white-color-100">Party</div>
        <div class="relax--subTitle color-white-color-200">Best music for you party</div>
      </div>
      <div class="col-12 overflow-auto d-flex align-items-center">
        <app-playlist-cell 
          link="#" 
          image="assets/images/playlistCell/COMPOSERS.svg" 
          title="Russian Composers"
          heart="71,622"></app-playlist-cell>
        <app-playlist-cell 
          link="#" 
          image="assets/images/playlistCell/GUITARSOLOS.svg" 
          title="Guitar Solos"
          heart="299.154"></app-playlist-cell>
        <app-playlist-cell 
          link="#" 
          image="assets/images/playlistCell/WORKOUTrock.svg" 
          title="Workout Rock"
          heart="414,228"></app-playlist-cell>
      </div>
    </div>
  </div>
  <div class="relax container w-100 py-3">
    <div class="row">
      <div class="col-12 mb-3">
        <div class="relax--title color-white-color-100">Study</div>
        <div class="relax--subTitle color-white-color-200">Best music for studying</div>
      </div>
      <div class="col-12 col-lg-10 overflow-auto overflow-lg-hidden d-flex align-items-center">
        <app-playlist-cell 
          link="#" 
          image="assets/images/playlistCell/COMPOSERS.svg" 
          title="Russian Composers"
          heart="71,622"></app-playlist-cell>
        <app-playlist-cell 
          link="#" 
          image="assets/images/playlistCell/GUITARSOLOS.svg" 
          title="Guitar Solos"
          heart="299.154"></app-playlist-cell>
        <app-playlist-cell 
          link="#" 
          image="assets/images/playlistCell/WORKOUTrock.svg" 
          title="Workout Rock"
          heart="414,228"></app-playlist-cell>
        <!-- <app-playlist-cell 
          link="#" 
          image="assets/images/playlistCell/ROCKballads.svg" 
          title="Rock Ballads"
          heart="160,896"></app-playlist-cell>
        <app-playlist-cell 
          link="#" 
          image="assets/images/playlistCell/80salternative rock.svg" 
          title="80s Alternative"
          heart="498,112"></app-playlist-cell>
        <app-playlist-cell 
          link="#" 
          image="assets/images/playlistCell/ROCKABILLY.svg" 
          title="Rockabilly"
          heart="82,127"></app-playlist-cell> -->
      </div>
    </div>
  </div>
  <div class="podcast w-100 py-5">
    <div class="container">
      <div class="podcast-top bg-secondary w-100 d-flex justify-content-between align-items-center" style="height: 50px;"></div>
      <div class="podcast-content">
        <div class="mt-4 bg-gray-400" style="height: 128px;"></div>
      </div>
    </div>
  </div>
  <div class="playlist w-100 py-5">
    <div class="container">
      <div class="playlist-top bg-secondary w-100 d-flex justify-content-between align-items-center" style="height: 50px;"></div>
      <div class="playlist-content">
        <div class="mt-4 bg-gray-400" style="height: 275px;"></div>
      </div>
    </div>
  </div>
  <div class="new-release w-100 py-5">
    <div class="container">
      <div class="new-release__top bg-secondary w-100 d-flex justify-content-between align-items-center" style="height: 30px;"></div>
      <div class="new-release__content">
        <div class="mt-4 bg-gray-400" style="height: 275px;"></div>
      </div>
    </div>
  </div>
  <div class="artist w-100 py-5">
    <div class="container">
      <div class="artist-top bg-secondary w-100 d-flex justify-content-between align-items-center" style="height: 30px;"></div>
      <div class="artist-content">
        <div class="mt-4 bg-gray-400" style="height: 275px;"></div>
      </div>
    </div>
  </div>
</div>
