.landing-screen-1 {
    .landing-screen-1--title {
        font-size: 27px;
    }
    .btn-shape {
        height: 46px;
        width: 230px;
        font-size: 14px;
    }
}
@media (min-width: 992px) {
    .landing-screen-1 {
        .landing-screen-1--title {
            font-size: 48px;
        }
        .btn-shape {
            height: 44px;
            width: 248px;
            font-size: 16px;
        }
    }
}