.form-group {
  position: relative;
  .form-search {
    background-color: rgba(137, 139, 145, 0.2);
    border: none;
    border-radius: 80px;
    color: #fff;
    padding-left: 40px;
    &:focus {
      box-shadow: none;
    }
    &::placeholder {
      color: #fff;
    }
  }
  .search-icon {
    position: absolute;
    bottom: 9px;
    left: 10px;
    cursor: pointer;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .navbar-nav {
    padding: 0 35px;
  }
}

@media (max-width: 575.98px) {
  .form-group {
    .form-search {
      border-radius: 8px;
      background-color: #fff;
      padding-left: 45px;
      color: #000;
      &:focus {
        background-color: rgba(137, 139, 145, 0.5);
      }
      &::placeholder {
        color: #000;
      }
    }
    .search-icon {
      left: 35px;
    }
    .less-icon {
      left: 20px;
    }
    .search-white {
      left: initial;
      right: 25px;
    }
  }
  .focus {
    .form-search-mb {
      color: #2DCEEF;
      border-radius: 0;
    }
  }
  .focus-out {
    padding: 0 20px;
  }
  .navbar-nav {
    padding: 0;
  }
}
