.btn-pop-up {
  background-color: transparent;
  border: none;
  outline: none;
}

.modal-content {
  background-color: #3A3A3D;
  .modal-header {
    border-bottom: none;
    .image {
      img {
        max-width: 80%;
      }
    }
    .title {
      span {
        color: #929292;
      }
    }
  }
  .content {
    display: flex;
    align-items: center;
  }
}
