<div class="browse-details container-fluid bg-black-color-100 text-white master-layout px-0">
  <div class="browse-nav py-5 w-100">
    <div class="container navbar-tab">
      <div class="row">
        <div class="col-12 col-md-12 nav-detail">
          <h1 class="mb-5 font-weight-bold d-block d-sm-none text-center">{{tag | uppercase}}</h1>
          <overlay-scrollbars [options]="{scrollbars: { autoHide: 'scroll' }}">
            <div class="d-flex align-items-end">
              <h1 class="font-32 py-1 mb-0 mr-4 font-weight-bold d-none d-sm-block">{{tag | uppercase}}</h1>
              <ul class="menu d-flex px-0 py-1 m-0">
                <li class="menu-item" *ngFor="let item of menuList" [ngClass]="{'active':selectedItem === item}">
                  <a [routerLink]="" (click)="openMenuList(item)" class="menu-link">{{item}}</a>
                </li>
              </ul>
            </div>
          </overlay-scrollbars>
        </div>
      </div>
    </div>
  </div>
  <div class="details-content">
    <ng-container *ngIf="selectedItem === 'Overview'">
      <app-overview-tab [tracks]="tracks" [playlists]="playlists" [people]="people" [loadData]="loadData"></app-overview-tab>
    </ng-container>

    <ng-container *ngIf="selectedItem === 'Playlists'">
      <app-playlist-tab [playlists]="playlists" [loadData]="loadData"></app-playlist-tab>
    </ng-container>

    <ng-container *ngIf="selectedItem === 'Top Songs'">
      <app-song-tab [tracks]="tracks" [loadData]="loadData"></app-song-tab>
    </ng-container>

    <ng-container *ngIf="selectedItem === 'Artist'">
      <app-people-tab [people]="people" [loadData]="loadData"></app-people-tab>
    </ng-container>
  </div>
</div>