<div class="browse-details container-fluid bg-black-color-100 text-white master-layout px-0">
  <div class="browse-nav py-5 w-100">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-md-2">
          <h1 class="mb-0 font-64 font-weight-bold">Rock</h1>
        </div>
        <div class="col-md-10">
          <app-details-nav></app-details-nav>
        </div>
      </div>
    </div>
  </div>
  <div class="browse-bg"></div>
  <div class="details-content">
    <div class="popular-week pb-5 d-none d-sm-block">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="popular-week__top d-flex justify-content-between align-items-center">
              <div class="popular-week__title">
                <h5>Popular in these week</h5>
              </div>
              <div class="popular-week__icon">
                <img src="../../../../assets/images/lessthan.svg" alt="">
                <img src="../../../../assets/images/morethan.svg" class="ml-3" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="popular-week__content mt-3">
        <app-overview-playlist [data]="populars"></app-overview-playlist>
      </div>
    </div>

    <div class="playlist py-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="playlist-top d-flex justify-content-between align-items-center">
              <div class="playlist-title">
                <h5>Playlist</h5>
              </div>
              <div class="playlist-view d-flex align-items-center">
                <a routerLink="#" class="text-uppercase color-gray-300">View all</a>
                <img src="../../../../assets/images/morethan.svg" alt="" class="ml-3 d-block d-sm-none">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="playlist__content mt-3">
        <app-overview-playlist [data]="playlists"></app-overview-playlist>
      </div>
    </div>

    <div class="new-release py-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="release-top d-flex justify-content-between align-items-center">
              <div class="release-title">
                <h5 class="d-none d-sm-block">New releases</h5>
                <h5 class="d-block d-sm-none">Top Songs</h5>
              </div>
              <div class="release-view d-flex align-items-center">
                <a routerLink="#" class="text-uppercase color-gray-300">View all</a>
                <img src="../../../../assets/images/morethan.svg" alt="" class="ml-3 d-block d-sm-none">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="new-release__content pt-3">
        <app-overview-release></app-overview-release>
      </div>
    </div>

    <div class="artists py-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="artist-top d-flex justify-content-between align-items-center">
              <div class="artist-title">
                <h5>Artists</h5>
              </div>
              <div class="artist-view d-flex align-items-center">
                <a routerLink="#" class="text-uppercase color-gray-300">View all</a>
                <img src="../../../../assets/images/morethan.svg" alt="" class="ml-3 d-block d-sm-none">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="artists__content pt-3">
        <app-overview-artists></app-overview-artists>
      </div>
    </div>
  </div>
</div>
