.browse-item {
  img {
    max-width: 100%;
    display: block;
  }
}

@media (max-width: 575.98px) {
  .col-5 {
    padding-right: 0 !important;
  }
  .browse-mb {
    overflow-x: auto;
  }
}

@media (min-width: 767px) {
  .browse-item {
    img {
      height: 80px;
    }
  }
}

@media (min-width: 1023px) {
  .browse-item {
    img {
      height: 120px;
    }
  }
}
