<div class="row flex-nowrap browse-mb">
  <div class="col-5 col-md-2 browse-item">
    <a routerLink="#">
      <img src="../../../../assets/images/browse/HIP - HOP.png" alt="">
    </a>
  </div>
  <div class="col-5 col-md-2 browse-item">
    <a routerLink="#">
      <img src="../../../../assets/images/browse/POP.png" alt="">
    </a>
  </div>
  <div class="col-5 col-md-2 browse-item">
    <a routerLink="#">
      <img src="../../../../assets/images/browse/rock.png" alt="">
    </a>
  </div>
  <div class="col-5 col-md-2 browse-item">
    <a routerLink="#">
      <img src="../../../../assets/images/browse/Country.png" alt="">
    </a>
  </div>
  <div class="col-5 col-md-2 browse-item">
    <a routerLink="#">
      <img src="../../../../assets/images/browse/DANCE - ELECTRO.png" alt="">
    </a>
  </div>
  <div class="col-5 col-md-2 browse-item">
    <a routerLink="#">
      <img src="../../../../assets/images/browse/Indie.png" alt="">
    </a>
  </div>
</div>
