.browse-item {
  img {
    max-width: 100%;
    display: block;
  }
}

@media (max-width: 575.98px) {
  .col-5 {
    padding-right: 0 !important;
  }
  .browse-mb {
    overflow-x: auto;
  }
}

@media (max-width: 991.98px) {
  .browse-item {
    img {
      height: 85px;
    }
  }
}
