<div 
    class="
        landing-screen-5-price 
        w-100 
        d-flex
        flex-column
        align-items-center
        flex-lg-row-reverse
        justify-content-lg-center
        py-5
    "
>
    <div class="price-item d-flex flex-column align-items-center mb-5 mx-lg-4">
        <div 
            class="
                price-box 
                box-premium 
                round-8 
                d-flex 
                flex-column 
                justify-content-between 
                p-3
                mb-3
            "
        >
            <div class="price-box-top color-white-color-100">
                <div class="font-24">MusicBox Premium</div>
                <div>
                    <span class="font-24">$7.99</span>
                    <span class="font-16">/month</span>
                </div>
                <div class="font-14 color-white-color-200">Start with 1-month free trial*</div>
            </div>
            <div class="price-box-down color-white-color-100">
                <div class="d-flex align-items-center my-3">
                    <img class="check mr-2" src="assets/images/check_white.svg" alt="check-white">
                    <span class="font-16">Offline mode</span>
                </div>
                <div class="d-flex align-items-center my-3">
                    <img class="check mr-2" src="assets/images/check_white.svg" alt="check-white">
                    <span class="font-16">High quality audio</span>
                </div>
                <div class="d-flex align-items-center my-3">
                    <img class="check mr-2" src="assets/images/check_white.svg" alt="check-white">
                    <span class="font-16">No ads</span>
                </div>
                <div class="d-flex align-items-center my-3">
                    <img class="check mr-2" src="assets/images/check_white.svg" alt="check-white">
                    <span class="font-16">Unlimited skips</span>
                </div>
            </div>
        </div>
        <button class="price-button btn-main">GET MUSICBOX PREMIUM</button>
    </div>
    <div class="price-item d-flex flex-column align-items-center mb-5 mx-lg-4">
        <div 
            class="
                price-box 
                box-free 
                round-8 
                d-flex 
                flex-column 
                justify-content-between 
                p-3
                mb-3
            "
        >
            <div class="price-box-top color-white-color-100">
                <div class="font-24">MusicBox Free</div>
                <div>
                    <span class="font-24">$0.00</span>
                    <span class="font-16">/month</span>
                </div>
            </div>
            <div class="price-box-down color-white-color-100">
                <div class="d-flex align-items-center my-3">
                    <img class="check mr-2" src="assets/images/check_white.svg" alt="check-white">
                    <span class="font-16">Online listening</span>
                </div>
                <div class="d-flex align-items-center my-3">
                    <img class="check mr-2" src="assets/images/check_white.svg" alt="check-white">
                    <span class="font-16">Regular audio</span>
                </div>
                <div class="d-flex align-items-center my-3">
                    <img class="check mr-2" src="assets/images/check_white.svg" alt="check-white">
                    <span class="font-16">With advertising</span>
                </div>
                <div class="d-flex align-items-center my-3">
                    <img class="check mr-2" src="assets/images/check_white.svg" alt="check-white">
                    <span class="font-16">30 skips per day</span>
                </div>
            </div>
        </div>
        <button class="price-button btn-white-outline">GET MUSICBOX FREE</button>
    </div>
</div>

