@import "../../../../style.variables.scss";
.landing-screen-5-price {
    .price-item {
        width: 310px;
        .price-box {
            width: 100%;
            height: 311px;
        }
        .box-premium {
            border: 2px solid map-get($blue-color, "100");
        }
        .box-free {
            border: 2px solid map-get($white-color, "100");
        }
        button {
            width: 248px;
        }
    }
}
@media (min-width: 992px) {
    .landing-screen-5-price {
        .price-item {
            width: 320px;
            .price-box {
                height: 360px;
            }
        } 
    }
}