<div class="search-input py-5">
  <app-input-search class="d-block d-lg-none">
  </app-input-search>
</div>
<div class="search-menu container-fluid bg-black-color-100 text-white pt-2">
  <div class="container py-5 d-block d-sm-none height" *ngIf="!loadData">
    <div class="row">
      <div class="col-12">
        <div class="artist-top d-flex justify-content-between align-items-center">
          <div class="artist-title">
            <h5>Recent Searches</h5>
          </div>
          <div class="artist-view d-flex align-items-center">
            <a [routerLink]="" class="text-uppercase color-gray-300">Clear</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-tab-bar class="d-block d-lg-none"></app-tab-bar>

<div class="search container-fluid bg-black-color-100 text-white master-layout px-0" *ngIf="loadData">
  <div class="search-details pb-5">
    <ng-container *ngIf="searchName === 'all'">
      <app-search-all [tracks]="tracks" [playlists]="playlists" [albums]="albums" [people]="people"></app-search-all>
    </ng-container>

    <ng-container *ngIf="searchName === 'playlists'">
      <app-search-playlists [playlists]="playlists"></app-search-playlists>
    </ng-container>

    <ng-container *ngIf="searchName === 'albums'">
      <app-search-albums [albums]="albums"></app-search-albums>
    </ng-container>

    <ng-container *ngIf="searchName === 'tracks'">
      <app-search-tracks [tracks]="tracks"></app-search-tracks>
    </ng-container>

    <ng-container *ngIf="searchName === 'people'">
      <app-search-people [people]="people"></app-search-people>
    </ng-container>
  </div>

  <div class="search-no-result" *ngIf="!playlists.length && !tracks.length && !people.length && !albums.length">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="no-result text-center">
            <h2 class="color-blue-100 font-weight-bold ">No Result</h2>
            <p>MusicFinder didn't quite catch that</p>
            <button class="btn btn-main btn-try-again text-uppercase" (click)="redirect()">Try Again</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>