.search {
  .avt {
    border-radius: 50%;
    margin: 0 auto;
    display: block;
  }
  .view-link {
    &:hover {
      text-decoration: none;
      color: #D5D5D5;
      opacity: 0.8;
    }
    cursor: pointer;
  }
}

.search-no-result {
  height: 55vh;
  .row {
    height: 30vh;
    align-items: center;
  }
  .btn-try-again {
    width: 260px;
    margin: 0 auto;
  }
}

.nav-detail {
  li {
    margin-left: 36px;
    list-style-type: none;
    display: inline-block;
    .menu-link {
      color: white;
      display: block;
      white-space: nowrap;
      text-transform: uppercase;
      &:hover {
        text-decoration: none;
      }
      font-weight: bold;
    }
  }
}

.active a {
  position: relative;
  &::after {
    content: "";
    width: 42px;
    height: 3px;
    background-color: #2D9BEF;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 991.98px) {
  h1 {
    font-size: 30px;
  }
  .search-nav {
    padding-top: 0 !important;
  }
}

@media (max-width: 575.98px) {
  .search {
    .artist-mb {
      display: flex;
      align-items: center;
      .avt {
        max-width: 70%;
        margin: 0;
      }
      .artist-avt {
        flex: 1;
      }
      .description {
        flex: 2;
        text-align: left !important;
      }
    }
    .release-item {
      display: flex;
      align-items: center;
      .image {
        max-width: 70%;
      }
      .link {
        flex: 1;
        position: relative;
      }
      .description {
        flex: 2;
      }
    }
    .text-mb {
      -webkit-line-clamp: 1;
    }
    .more {
      cursor: pointer;
    }
  }
  .nav-detail {
    li {
      margin-left: 0;
      padding: 10px 0;
      padding-right: 3rem;
    }
    .top-song {
      flex: none;
    }
  }
  .btn-back {
    position: absolute;
    left: 15px;
    top: 20px;
  }
  .search-input {
    padding-top: 80px !important;
  }
}