<div class="search-input py-4">
  <app-input-search class="d-block d-lg-none">
  </app-input-search>
</div>
<div class="search-menu container-fluid bg-black-color-100 text-white pt-2">
  <div class="container py-5 d-block d-sm-none" *ngIf="!loadData">
    <div class="row">
      <div class="col-12">
        <div class="artist-top d-flex justify-content-between align-items-center">
          <div class="artist-title">
            <h5>Recent Searches</h5>
          </div>
          <div class="artist-view d-flex align-items-center">
            <a [routerLink]="" class="text-uppercase color-gray-300">Clear</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-tab-bar class="d-block d-lg-none"></app-tab-bar>

<div class="search container-fluid bg-black-color-100 text-white master-layout px-0" *ngIf="loadData">
  <div class="search-details py-5">
    <div class="playlists py-5" *ngIf="playlists && playlists.length">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="artist-top d-flex justify-content-between align-items-center">
              <div class="artist-title">
                <h5>Playlists</h5>
              </div>
              <div class="artist-view d-flex align-items-center">
                <a class="text-uppercase color-gray-300 view-link" (click)="searchDetails('playlists')">View all</a>
                <img src="../../../../assets/images/morethan.svg" alt="" class="ml-3 d-block d-sm-none">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="playlists-content pt-3">
        <overlay-scrollbars [options]="osComponentOptions" class="d-sm-block" [ngClass]="{'d-none': searchName === 'playlists'}">
          <app-playlist-item [playlists]="playlists"></app-playlist-item>
        </overlay-scrollbars>
        <ng-container *ngIf="searchName === 'playlists'">
          <div class="container d-block d-sm-none">
            <div class="row">
              <div class="col-6 col-md-2 playlist-item mb-4" *ngFor="let item of playlists | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                <app-background-random [item]="item"></app-background-random>
                <div class="description">
                  <h6 class="pt-2 mb-0 text-overflow" data-toggle="tooltip" data-placement="bottom" title="{{item.title}}">{{item.title}}</h6>
                  <div class="pt-1 color-white-color-200 font-12 font-11">
                    <span>{{item.artist}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="loading">
            <div class="col-12 text-center">
              <p>Loading ...</p>
            </div>
          </div>
          <app-search-playlists></app-search-playlists>
        </ng-container>
      </div>
    </div>

    <div class="song py-5" *ngIf="tracks && tracks.length">
      <div class="container">
        <div class="row ">
          <div class="col-12 ">
            <div class="song-top d-flex justify-content-between align-items-center ">
              <div class="artist-title ">
                <h5>Songs</h5>
              </div>
              <div class="song-view d-flex align-items-center ">
                <a class="text-uppercase color-gray-300  view-link" (click)="searchDetails('tracks')">View all</a>
                <img src="../../../../assets/images/morethan.svg " alt=" " class="ml-3 d-block d-sm-none ">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="song-content pt-3">
        <overlay-scrollbars [options]="osComponentOptions" class="d-none d-sm-block">
          <app-track-item [tracks]="tracks "></app-track-item>
        </overlay-scrollbars>

        <div class="container d-block d-sm-none">
          <div class="row">
            <div class="col-12 col-md-2 release-item mb-4" *ngFor="let item of tracks | slice:0:6 ; let i = index">
              <a routerLink="#" class="link">
                <img src="{{item.artwork_url ? item.artwork_url : '../../../../../../assets/images/default/track-default.jpg'}}" alt="img" class="image">
                <!-- <img src="assets/images/playlistCell/Quick Play.svg" alt="Quick play" class="play"> -->
              </a>
              <div class="description">
                <h6 class="pt-2 mb-0 text-overflow text-mb" data-toggle="tooltip" data-placement="bottom" title="{{item.title}}">{{item.title}}</h6>
                <div class="pt-1 color-white-color-200 font-12 font-11">
                  <span>{{item.artist}}</span>
                  <!-- <span class="release">Release: {{item.display_date | slice:0:10}}</span> -->
                </div>
              </div>
              <app-pop-up-song [item]="item" [index]="i"></app-pop-up-song>
            </div>
          </div>
        </div>

        <ng-container *ngIf="searchName === 'tracks'">
          <div class="row" *ngIf="loading">
            <div class="col-12 text-center">
              <p>Loading ...</p>
            </div>
          </div>
          <app-search-tracks></app-search-tracks>
        </ng-container>

      </div>
    </div>

    <div class="artists py-5" *ngIf="people && people.length">
      <div class="container ">
        <div class="row ">
          <div class="col-12 ">
            <div class="artist-top d-flex justify-content-between align-items-center ">
              <div class="artist-title ">
                <h5>Artists</h5>
              </div>
              <div class="artist-view d-flex align-items-center ">
                <a class="text-uppercase color-gray-300  view-link" (click)="searchDetails('people')">View all</a>
                <img src="../../../../assets/images/morethan.svg " alt=" " class="ml-3 d-block d-sm-none ">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="artists__content pt-3 " *ngIf="loadData">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-2 artist-item mb-3 artist-mb" *ngFor="let artist of people | slice:0:6; let i = index ">
              <a routerLink="{{artist.router}}" class="artist-avt">
                <img src="{{artist.avatar_url ? artist.avatar_url : '../../../../../../assets/images/default/people-default.jpg'}} " alt="artist " class="avt ">
              </a>
              <div class="description text-center mt-2">
                <h6 class="mb-1 font-16 text-overflow text-mb" data-toggle="tooltip " data-placement="bottom " title="{{artist.username}} ">{{artist.username}}</h6>
                <div class="heart font-14 align-items-center justify-content-center d-none d-sm-block ">
                  <img src="../../../../assets/images/heart.svg " alt="heart ">
                  <span class="ml-1 color-white-color-200 ">{{artist.likes_count}}</span>
                </div>
              </div>
              <app-pop-up [item]="artist" [index]="i"></app-pop-up>
            </div>
          </div>
        </div>
        <ng-container *ngIf="searchName === 'people'">
          <div class="row" *ngIf="loading">
            <div class="col-12 text-center">
              <p>Loading ...</p>
            </div>
          </div>
          <app-search-people></app-search-people>
        </ng-container>
      </div>
    </div>

    <div class="search-no-result" *ngIf="!playlists.length && !tracks.length && !people.length">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="no-result text-center">
              <h2 class="color-blue-100 font-weight-bold ">No Result</h2>
              <p>MusicFinder didn't quite catch that</p>
              <button class="btn btn-main btn-try-again text-uppercase" (click)="redirect()">Try Again</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
