<div class="player-web rounded d-flex align-items-center p-2">
    <div class="player-header">
        <div class="d-flex align-items-center">
            <img [src]="track.artwork_url" alt="image" class="rounded mr-2" width="58px">
            <div class="mr-4">
                <div class="font-16 color-white-color-100">{{ track.title }}</div>
                <div class="font-14 color-white-color-200">{{ track.label_name }}</div>
            </div>
            <img src="assets/playericons/addtofav.png" alt="image" class="mr-3" width="19.75px">
            <img src="assets/playericons/Done.png" alt="image" width="18px">
        </div>
    </div>
    <div class="player-main-control px-5">
        <div class="d-flex flex-column align-items-center">
            <div class="d-flex align-items-center">
                <img src="assets/playericons/Shuffle18.png" alt="image" width="18px" height="18px" class="mr-4">
                <img src="assets/playericons/prev.png" alt="image" width="18px" height="18px" class="mx-4">
                <img src="assets/playericons/Pause.png" alt="image" width="22px" height="26px" class="mx-4">
                <img src="assets/playericons/next.png" alt="image" width="18px" height="18px" class="mx-4">
                <img src="assets/playericons/Repeat18.png" alt="image" width="18px" height="18px" class="ml-4">
            </div>
            <div class="w-100">
                <ngx-slider [value]="sliderValue" [options]="sliderOptions"></ngx-slider>
            </div>
        </div>
    </div>
    <div class="player-other-control d-flex justify-content-end">
        <div class="d-flex align-items-center">
            <img src="assets/playericons/Queue.png" alt="image" width="18px" height="18px" class="mr-4">
            <img src="assets/playericons/Volume.png" alt="image" width="21px" height="18px" class="mr-2">
            <input type="range" value="30" min="0" max="100" class="volume">
        </div>
    </div>
</div>