.change-password {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 0;
}

.modal-header {
  border-bottom: 1px solid #7a7a7a;
}

.modal-content {
  background-color: #161a1a;
}

.modal-footer {
  border-bottom: none;
}

.error {
  color: red;
}

label {
  color: #99999f;
}

.form-control {
  border: none;
  border-bottom: 1px solid #929292;
  border-radius: 0px;
  color: #fff;
  padding: 0;
}
