<div class="container">
  <div class="row flex-nowrap">
    <div class="col-5 col-md-2 release-item" *ngFor="let item of tracks | slice:0:6">
      <app-background-random [item]="item"></app-background-random>
      <div class="description ">
        <h6 class="pt-2 mb-0 text-overflow" data-toggle="tooltip" data-placement="bottom" title="{{item.title}}">{{item.title}}</h6>
        <div class="pt-1 color-white-color-200 font-12 font-11">
          <span>{{item.artist}}</span>
          <span class="release">Release: {{item.display_date | slice:0:10}}</span>
        </div>
      </div>
    </div>
  </div>
</div>