@media (max-width: 575.98px) {
  a {
    &:hover {
      text-decoration: none;
      color: #d5d5d5;
    }
  }
  .item-mb {
    display: flex;
    align-items: center;
    .avt {
      max-width: 70%;
      margin: 0;
    }
    .artist-avt {
      flex: 1;
    }
    .description {
      flex: 2;
      text-align: left !important;
    }
  }
  .text-mb {
    -webkit-line-clamp: 1;
  }
}
