@media (max-width: 575.98px) {
  .album-item {
    display: flex;
    align-items: center;
    .image {
      max-width: 70%;
    }
    .link {
      flex: 1;
      position: relative;
    }
    .description {
      flex: 2;
    }
  }
  .text-mb {
    -webkit-line-clamp: 1;
  }
}