<div class="queue-item w-100 d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
        <img src="assets/playericons/Close.png" 
            alt="icon" 
            width="16px" 
            height="16px" 
            class="mr-3" 
            [ngClass]="{'visible':(item.id === playerService.track.id)}"
            (click)="deleteTrack()"
        >
        <div class="" (click)="playThisTrack()">
            <span class="color-white-color-100 font-15">{{ replaceNameTrack(item.title, 30) || 'Track name' }}</span><br>
            <span class="color-white-color-200 font-14">{{ replaceNameTrack(item.publisher_metadata?.writer_composer, 20) || 'name' }} / {{ convertToMinus(item.duration) }}</span>
        </div>
    </div>
    <img src="assets/playericons/Drag.png" alt="icon" width="18px" height="15.5px" class="ml-2 handle">
</div>