<div class="container-fluid">
  <div class="row signup p-5">
    <div class="col-md-8 col-lg-6 col-xl-5 border round-8 py-4 signup-form">
      <h4 class="d-block d-sm-none text-center">Create Account</h4>
      <h4 class="font-weight-bold d-none d-sm-block text-center">Ready to sign up?</h4>
      <div class="login-with-social mt-5 d-flex justify-content-center">
        <div class="btn btn-primary btn-social-fb round-20 mx-2 d-flex align-items-center justify-content-around">
          <img src="assets/images/login-facebook.svg" alt="fb-icon">
          <span>Facebook</span>
          <span></span>
        </div>
        <button (click)="loginWithGoogle()" class="btn btn-social-google round-20 mx-2 d-flex align-items-center justify-content-around">
          <img src="assets/images/login-google.svg" alt="google-icon">
          <span class="mr-2">Google</span>
          <span></span>
        </button>
      </div>
      <div class="col-12 col-md-10 mx-auto">
        <form class="mt-5" [formGroup]="formSignup">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control bg-opacity" formControlName="email" email="true" placeholder="Enter email">
            <small class="error" *ngIf="formSignup.get('email')?.invalid && formSignup.get('email')?.touched ">Email is required</small>
          </div>
          <div class="form-group">
            <label for="password">Create a password</label>
            <input type="password" class="form-control bg-opacity" formControlName="password" minlength="8" maxlength="16" placeholder="Password">
            <small class="error" *ngIf="formSignup.get('password')?.invalid && formSignup.get('password')?.touched ">Password from 8 to 16 character</small>
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control bg-opacity" formControlName="userName" minlength="6" placeholder="Username">
            <small class="error" *ngIf="formSignup.get('userName')?.invalid && formSignup.get('userName')?.touched ">Username from 6 character or more</small>
          </div>
          <div class="form-group d-flex justify-content-between">
            <div class="w-50">
              <label>Date of Birth</label>
              <div>
                <app-dropdown #datePickerDropdown>
                  <input dropdown-toggle class="form-control bg-transparent border-white-xs color-white" type="text" name="dateOfBirth" formControlName="dateOfBirth" data-toggle="dropdown">
                  <div dropdown-menu>
                    <app-date-picker format="yyyy-mm-dd" (onChange)="datePickerDropdown.hide(); formSignup.get('dateOfBirth').setValue($event.date)"></app-date-picker>
                  </div>
                </app-dropdown>
              </div>

              <small class="error" *ngIf="formSignup.get('dateOfBirth')?.invalid && formSignup.get('dateOfBirth')?.touched ">DOB is required</small>
            </div>
            <div class="px-3"></div>
            <div class="w-50">
              <label for="gender">Gender</label>
              <select formControlName="sex" class="custom-select bg-transparent border-white-xs color-white">
                <option disabled selected>Gender</option>
                <option [ngValue]="1">Male</option>
                <option [ngValue]="2">Female</option>
              </select>
              <small class="error" *ngIf="formSignup.get('sex')?.invalid && formSignup.get('sex')?.touched ">Gender is required</small>
            </div>
          </div>
          <div class="d-block d-sm-none text-center">
            <button type="submit" (click)="signup()" [disabled]="!formSignup.valid" class="btn btn-primary text-uppercase round-20 my-5 w-50">Done</button>
          </div>
          <div class="small text-center ">
            <span class="d-block opacity">By clicking on "Sign up", you accept the</span>
            <a routerLink="#">Terms and Conditions of Use.</a>
          </div>
          <div class="text-center d-none d-sm-block">
            <button type="submit" (click)="signup()" class="btn btn-primary btn-signup text-uppercase round-20 mt-3">Sign up</button>
          </div>
          <div class="small mt-3 text-center d-none d-sm-block">
            Already have an account? <a routerLink="/login">Log In</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
