<div class="playlist w-100 p-0 mt-lg-5" *ngIf="dataLoaded">
    <div class="container-lg">
        <div class="row">
            <div class="col-12 d-block d-md-none my-3">
                <div class="w-100 d-flex align-items-center justify-content-between">
                    <img src="assets/playericons/BackArrow.png" alt="icon" width="18px" height="18px" (click)="goBack()">
                    <div class="d-flex align-items-center">
                        <img src="assets/playericons/Share.png" class="mr-3" alt="icon" width="18px" height="18px">
                        <img src="assets/playericons/More20.png" alt="icon" width="4px" height="18px">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="playlist-header w-100 d-flex flex-column flex-md-row align-items-center justify-content-between">
                    <div class="playlist-header--info d-flex flex-column flex-md-row align-items-center">
                        <img [src]="playlist.artwork_url?.replace('large', 't500x500') || 'assets/playericons/music.jpg'" class="mr-md-4 round-8" alt="img" width="225px" height="225px">
                        <div class="color-white-color-100 my-3 my-md-0">
                            <div class="font-18 d-none d-md-block">Playlist</div>
                            <div class="title font-50">{{ playlist.title }}</div>
                            <div class="font-16 d-none d-md-block mb-2">{{ playlist.tag_list }}</div>
                            <div class="font-14 color-white-color-200 d-none d-md-block">
                                <span>{{ playlist.tracks.length }}</span> Songs, <span>{{ converToHours(playlist.duration) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="playlist-header--control d-flex flex-row-reverse flex-md-row align-items-center">
                        <div class="btn-main d-flex align-items-center justify-content-center btn-play mr-2 pointer" (click)="playThisPlaylist()">
                            <img src="assets/playericons/Play.png" class="mr-2 d-md-none" alt="icon" width="15.5px" height="18px">
                            <span>PLAY</span>
                        </div>
                        <div class="btn-white-outline rounded-circle btn-desktop d-flex align-items-center justify-content-center mr-2 pointer">
                            <img src="assets/playericons/addtofav.png" alt="icon" width="20px" height="18px">
                            <span class="d-md-none ml-2 font-16">FOLLOW</span>
                        </div>
                        <div class="btn-white-outline rounded-circle btn-desktop d-none d-md-flex align-items-center justify-content-center pointer">
                            <img src="assets/playericons/More.png" alt="icon" width="20px" height="4px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-none d-md-block mt-4">
                <div class="d-flex align-items-center justify-content-between">
                    <div style="position: relative;">
                        <img src="assets/playericons/Search.png" class="search-icon" alt="icon" width="22px" height="22px">
                        <input type="text" placeholder="Playlist search" class="playlist-search-input">
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="color-white-color-100 font-16 mr-2">Playlist songs</span>
                        <img src="assets/playericons/Path111.png" class="pointer" alt="icon" width="18px" height="9px">
                    </div>
                </div>
            </div>

            <div class="col-12 mt-4">
                <overlay-scrollbars [options]="{ scrollbars: { autoHide: 'hidden' } }">
                    <div class="w-100 scrollbars-items">
                        <app-track-items *ngFor="let track of playlist.tracks" [track]="track" (trackNeedPlay)="playThisTrack($event)"></app-track-items>
                    </div>
                </overlay-scrollbars>
            </div>
        </div>
    </div>
</div>

<div style="height: 10vh;"></div>