.playlist {
  background-color: #161a1a;
  & .playlist-header {
    & .playlist-header--info {
      & .title {
        font-size: 30px;
        font-weight: bold;
      }
    }
    & .playlist-header--control {
      & .btn-desktop {
        width: 171px;
        height: 42px;
        border-radius: 21px !important;
        font-weight: bold;
      }
      & .btn-play {
        width: 171px;
        height: 42px;
        font-weight: bold;
      }
    }
  }

  & .search-icon {
    position: absolute;
    top: 0;
    left: 0;
  }
  & .playlist-search-input {
    height: 29.5px;
    width: 133px;
    padding-left: 30px;
    padding-bottom: 8px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    font-size: 16px;
    color: white;
    &::placeholder {
      font-size: 16px;
      color: white;
    }
    &:focus {
      outline: none;
    }
  }
  & .pointer {
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .playlist {
    & .playlist-header {
      & .playlist-header--info {
        & .title {
          font-size: 50px;
          font-weight: bold;
        }
      }
      & .playlist-header--control {
        & .btn-desktop {
          width: 40px;
          height: 40px;
        }
        & .btn-play {
          width: 168px;
          height: 40px;
        }
      }
    }
    .scrollbars-items {
      height: 70vh;
    }
  }
}