<div class="player d-flex flex-column justify-content-between" *ngIf="dataLoaded | async">
<!-- <div class="bg-blur" style="background-image: url(assets/images/player/Image210.svg);"></div> -->
<div>
    <div class="container mb-4">
        <div class="row">
            <div class="player--header col-12">
                <div class="d-flex flex-column align-items-center color-white-color-100">
                    <div class="font-14">Playlist</div>
                    <div class="font-18">{{ player.playlist.title }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="player--detail overflow-hidden">
        <div class="images-carousel d-flex align-items-center justify-content-center mb-3">
            <img [src]="player.track.artwork_url?.replace('large', 't500x500')" class="center round-16 mx-3" alt="Image">
        </div>
        <div class="d-flex flex-column align-items-center">
            <div class="font-16 color-white-color-100">{{ player.track.label_name }}</div>
            <div class="font-14 color-white-color-200">{{ player.track.publisher_metadata?.artist }}</div>
        </div>
    </div>
</div>
<div>
    <div class="container mb-3">
        <div class="player--control">
            <div class="row">
                <div class="col-12 d-flex align-items-center justify-content-around mb-2">
                    <img src="assets/images/player/Add to Playlist.svg" alt="Add to Playlist" width="20px">
                    <img src="assets/images/player/Favorite Songs.svg" alt="Favorite song" width="20px">
                    <img src="assets/images/player/More 20.svg" alt="more" height="20px">
                </div>
                <div class="col-12 mb-5">
                    <ngx-slider [(value)]="value" [options]="options" (userChange)="seekTo()"></ngx-slider>
                </div>
                <div class="col-12 d-flex align-items-center justify-content-between mb-3">
                    <img src="assets/images/player/Shuffle.svg" alt="Shuffle" height="22px" *ngIf="!player.shuffleState" (click)="player.toggleShuffleState()">
                    <img src="assets/images/player/UnShuffle.svg" alt="Shuffle" height="22px" *ngIf="player.shuffleState" (click)="player.toggleShuffleState()">
                    <img src="assets/images/player/previous.svg" alt="previous" width="20px" (click)="prevTrack()">
                    <img src="assets/images/player/Pause.svg" alt="Pause" height="30px" *ngIf="player.isPlaying" (click)="pause()">
                    <img src="assets/images/player/play.svg" alt="play" height="30px" *ngIf="!player.isPlaying" (click)="play()">
                    <img src="assets/images/player/next.svg" alt="next" width="20px" (click)="nextTrack()">
                    <img src="assets/images/player/norepeat.svg" alt="norepeat" width="20px" *ngIf="player.repeatState === 0" (click)="player.changeRepeatState()">
                    <img src="assets/images/player/repeatone.svg" alt="repeat" width="20px" *ngIf="player.repeatState === 1" (click)="player.changeRepeatState()">
                    <img src="assets/images/player/Repeat.svg" alt="repeat" width="20px" *ngIf="player.repeatState === 2" (click)="player.changeRepeatState()">
                </div>
            </div>
        </div>
    </div>

    <div class="player--queue"></div>
</div>
</div>