.release-item {
  img {
    max-width: 100%;
    height: auto;
  }
  .description {
    line-height: 18px;
    span {
      display: inline-block;
      font-size: 13px;
    }
  }
}

@media (max-width: 575.98px) {
  .release-item {
    .description {
      span {
        font-size: 12px;
      }
    }
  }
}
