.release-item {
  img {
    max-width: 100%;
    max-height: 100%;
    height: inherit !important;
  }
  .description {
    line-height: 18px;
    span {
      display: inline-block;
      font-size: 12px;
    }
  }
}

@media (max-width: 575.98px) {
  .release-item {
    .description {
      span {
        font-size: 12px;
      }
    }
  }
}