@import "../style.variables.scss";

.app-header {
    height: 71px;
}
.app-content {
    min-height: calc(100vh - 712px);
    background: map-get($black-color, "100");
}
.app-footer {
    height: 641px;
}
@media (min-width: 576px) {
    .app-content {
        min-height: calc(100vh - 524px);
    }
    .app-footer {
        height: 453px;
    }
}
@media (min-width: 576px) {
    .app-content {
        min-height: calc(100vh - 378px);
    }
    .app-footer {
        height: 307px;
    }
}
