.overview-item {
  .image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 575.98px) {
  .overview-item {
    .description {
      span {
        font-size: 15px;
      }
    }
  }
}