<div class="track__content pt-3" class="d-none d-sm-block" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="250" (scrolled)="onScrollDown()">
  <div class="container pt-4">
    <div class="row">
      <div class="col-6 col-md-2 playlist-item mb-4" *ngFor="let item of tracks | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; let i = index">
        <app-background-random [item]="item"></app-background-random>
        <div class="d-flex justify-content-between">
          <div class="description">
            <h6 class="pt-2 mb-0 text-overflow" data-toggle="tooltip" data-placement="bottom" title="{{item.title}}">{{item.title}}</h6>
            <div class="pt-1 color-white-color-200 font-12 font-11">
              <span>{{item.artist}}</span>
              <span>Release: {{item.display_date | slice:0:10}}</span>
            </div>
          </div>
          <app-pop-up-desktop class="mt-1" [item]="item" [index]="i+6"></app-pop-up-desktop>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="loading">
      <div class="col-12 text-center">
        <p>Loading ...</p>
      </div>
    </div>
  </div>
</div>

<div class="track__content pt-3" class="d-block d-sm-none" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="150" (scrolled)="onScrollDown()">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-2 release-item mb-4" *ngFor="let item of tracks | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; let i = index">
        <a routerLink="#" class="link">
          <img src="{{item.artwork_url ? item.artwork_url : '../../../../../../assets/images/default/track-default.jpg'}}" alt="img" class="image">
        </a>
        <div class="description">
          <h6 class="pt-2 mb-0 text-overflow text-mb" data-toggle="tooltip" data-placement="bottom" title="{{item.title}}">{{item.title}}</h6>
          <div class="pt-1 color-white-color-200 font-12 font-11">
            <span>{{item.artist}}</span>
          </div>
        </div>
        <app-pop-up-song [item]="item" [index]="i+6"></app-pop-up-song>
      </div>
    </div>
  </div>
</div>