.landing-footer {
    .logo {
        width: 110px;
    }
    .detail {
        .detail__title {
            text-transform: uppercase;
            font-size: 14px;
        }
        .detail__item {
            text-transform: capitalize;
            font-size: 14px;
        }
    }
    .utility {
        .language {
            span {
                font-size: 14px;
            }
        }
    }
    .under-footer {
        font-size: 12px;
    }
}