<div class="container-fluid bg-black-color-100 py-lg-5 px-0">
  <footer class="container landing-footer">
    <div class="row">
      <div class="col-12 col-lg-2 my-3">
        <img src="assets/images/Full_Logo.svg" alt="Logo" class="footer-logo" />
      </div>
      <div class="col-6 col-sm-4 col-lg-2">
        <div class="detail my-4">
          <div class="detail__title color-white-color-200 mb-4">MUSICBOX</div>
          <div class="detail__item my-3">
            <a class="color-white-color-100" href="">About</a>
          </div>
          <div class="detail__item my-3">
            <a class="color-white-color-100" href="">Premium</a>
          </div>
          <div class="detail__item my-3">
            <a class="color-white-color-100" href="">Features</a>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-2">
        <div class="detail my-4">
          <div class="detail__title color-white-color-200 mb-4">COMMUNITES</div>
          <div class="detail__item my-3">
            <a class="color-white-color-100" href="">For Artists</a>
          </div>
          <div class="detail__item my-3">
            <a class="color-white-color-100" href="">Developers</a>
          </div>
          <div class="detail__item my-3">
            <a class="color-white-color-100" href="">Press</a>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-2">
        <div class="detail my-4">
          <div class="detail__title color-white-color-200 mb-4">USEFUL LINK</div>
          <div class="detail__item my-3">
            <a class="color-white-color-100" href="">Help</a>
          </div>
          <div class="detail__item my-3">
            <a class="color-white-color-100" href="">Web Player</a>
          </div>
          <div class="detail__item my-3">
            <a class="color-white-color-100" href="">Explore Channels</a>
          </div>
          <div class="detail__item my-3">
            <a class="color-white-color-100" href="">Download App</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="
          utility
          h-75
          d-flex
          flex-lg-column
          align-items-center align-items-lg-end
          justify-content-between
          my-4
        ">
          <div class="social">
            <a href="" class="mr-2"><img src="assets/images/facebook.svg" alt="facebook" /></a>
            <a href="" class="mr-2"><img src="assets/images/twitter.svg" alt="facebook" /></a>
            <a href="" class="mr-2"><img src="assets/images/instagram.svg" alt="facebook" /></a>
          </div>
          <a href="" class="language color-white-color-100">
            <span class="mr-2">English (us)</span>
            <img src="assets/images/morethan.svg" alt="more" />
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-between align-items-center my-2">
        <div class="under-footer left">
          <a href="" class="color-white-color-200">Legal</a>
          <a href="" class="color-white-color-200">Privacy</a>
          <a href="" class="color-white-color-200">Cookies</a>
          <a href="" class="color-white-color-200">Ads</a>
        </div>
        <div class="under-footer right">
          <span class="color-white-color-200">@ 2019 MusicBox</span>
        </div>
      </div>
    </div>
  </footer>
</div>