.nav-detail {
  li {
    margin-left: 36px;
    list-style-type: none;
    display: inline-block;
    .menu-link {
      color: white;
      display: inline-block;
      text-transform: uppercase;
      &:hover {
        text-decoration: none;
      }
      font-weight: bold;
    }
  }
}

.active a {
  position: relative;
  &::after {
    content: "";
    width: 42px;
    height: 3px;
    background-color: #2D9BEF;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .nav-detail {
    li {
      margin-left: 0;
      padding: 10px 0;
      padding-right: 5rem;
    }
    .top-song {
      flex: none;
    }
    .menu {}
  }
}