<div class="container navbar-tab">
  <div class="row">
    <div class="col-12 col-md-12 nav-detail">
      <h1 class="mb-5 font-weight-bold d-block d-sm-none text-center">{{title | uppercase}}</h1>
      <overlay-scrollbars [options]="{scrollbars: { autoHide: 'scroll' }}">
        <div class="d-flex align-items-end">
          <h1 class="font-32 py-1 mb-0 mr-4 font-weight-bold d-none d-sm-block">{{title | uppercase}}</h1>
          <ul class="menu d-flex px-0 py-1 m-0">
            <li class="menu-item" *ngFor="let item of menuList">
              <a [routerLink]="" (click)="openMenuList(item)" class="menu-link">{{item}}</a>
            </li>


            <!-- <li class="menu-item d-flex d-sm-none top-song">
              <a href="#" class="menu-link">Top Songs </a>
            </li>
            <li class="menu-item">
              <a href="#" class="menu-link">Playlists</a>
            </li>
            <li class="menu-item d-none d-sm-block">
              <a href="#" class="menu-link">New Releases</a>
            </li>
            <li class="menu-item">
              <a href="#" class="menu-link">Artists</a>
            </li> -->
          </ul>
        </div>
      </overlay-scrollbars>
    </div>
  </div>
</div>

<ng-container *ngIf="selectedItem === 'Overview'">
  <app-overview-tab></app-overview-tab>
</ng-container>

<ng-container *ngIf="selectedItem === 'Playlists'">
  Playlist
</ng-container>
<ng-container *ngIf="selectedItem === 'New release'">
  New release
</ng-container>
