<div class="landing-screen-5-benefit w-100 d-lg-flex justify-content-between my-4">
    <div class="benefit-item d-flex flex-lg-column align-items-center mb-3">
        <img src="assets/images/Offline.svg" alt="Offline" class="mr-2 mb-lg-3">
        <div class="benefit-item--content d-flex flex-column align-items-start align-items-lg-center">
            <h5 class="color-white-color-100">Offline mode.</h5>
            <div class="color-white-color-200">Save and listen anywhere.</div>
        </div>
    </div>
    <div class="benefit-item d-flex flex-lg-column align-items-center mb-3">
        <img src="assets/images/HQ.svg" alt="Offline" class="mr-2 mb-lg-3">
        <div class="benefit-item--content d-flex flex-column align-items-start align-items-lg-center">
            <h5 class="color-white-color-100">High quality audio.</h5>
            <div class="color-white-color-200">Enjoy the full range of sound.</div>
        </div>
    </div>
    <div class="benefit-item d-flex flex-lg-column align-items-center mb-3">
        <img src="assets/images/NoADS.svg" alt="Offline" class="mr-2 mb-lg-3">
        <div class="benefit-item--content d-flex flex-column align-items-start align-items-lg-center">
            <h5 class="color-white-color-100">No ads.</h5>
            <div class="color-white-color-200">Enjoy nonstop music.</div>
        </div>
    </div>
    <div class="benefit-item d-flex flex-lg-column align-items-center mb-3">
        <img src="assets/images/UnlimSkips.svg" alt="Offline" class="mr-2 mb-lg-3">
        <div class="benefit-item--content d-flex flex-column align-items-start align-items-lg-center">
            <h5 class="color-white-color-100">Unlimited Skips.</h5>
            <div class="color-white-color-200">Just tap skip.</div>
        </div>
    </div>
</div>