.landing-screen-5-benefit {
    .benefit-item {
        img {
            width: 80px;
        }
        .benefit-item--content {
            h5 {
                font-size: 22px;
                font-weight: normal;
            }
            div {
                font-size: 16px;
            }
        }
    }
}

@media (min-width: 992px) {
    .landing-screen-5-benefit {
        .benefit-item {
            img {
                width: 120px;
            }
            .benefit-item--content {
                h5 {
                    font-size: 20px;
                }
                div {
                    font-size: 14px;
                }
            }
        }
    }
}