hr {
  border-top: 1px solid #7a7a7a;
  opacity: 0.3;
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: transparent;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #d2d2d2;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  &:checked {
    background-color: #2dceef;
    opacity: 0.3;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 1px;
      bottom: 1px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }
}

input:checked + .slider {
  background-color: #2dceef;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.account-details {
  .btn-logout {
    width: 190px;
  }
  .link {
    display: block;
    padding-bottom: 14px;
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.account-link {
  a {
    color: #848484;
    &:hover {
      text-decoration: none;
    }
  }
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .mb-none {
    display: none !important;
  }
}
