.playlist-cell {
    width: 150px;
    a.playlist-cell--image {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        img.back-play {
            width: 100%;
        }
        img.play {
            position: absolute;
            width: 36px;
            left: 8px;
            bottom: 8px;
        }
    }
}
@media (min-width: 992px) {
    .playlist-cell {
        width: 225px;
        a.playlist-cell--image {
            img.play {
                position: absolute;
                width: 36px;
                left: 8px;
                bottom: 8px;
            }
        }
        .heart-number {
            font-size: 14px;
        }
    }
}